<!-- 继承父模板 '__base__.html' -->
{% extends '__base__.html' %}
<!--jinja2 title 块内容替换-->
{% block title %}好好学习 天天向上{% endblock %}
<!--jinja2 beforehead 块内容替换-->
{% block beforehead %}

<script>

    function initVM(data) {
        var vm = new Vue({
            el: '#vm',
            data: {
                blogs: data.blogs,
                page: data.page
            },
            methods: {
                previous: function () {
                    gotoPage(this.page.page_index - 1);
                },
                next: function () {
                    gotoPage(this.page.page_index + 1);
                },
                edit_blog: function (blog) {
                    location.assign('/manage/blogs/edit?id=' + blog.id);
                },
                delete_blog: function (blog) {
                    if (confirm('确认要删除“' + blog.name + '”？删除后不可恢复！')) {
                        postJSON('/api/blogs/' + blog.id + '/delete', function (err, r) {
                            if (err) {
                                return alert(err.message || err.error || err);
                            }
                            refresh();
                        });
                    }
                }
            }
        });
        var blog = data.blogs[0];
        document.querySelector('#blog-name').innerHTML = blog.name;
        document.querySelector('#blog-name').setAttribute('href', '/blog/' + blog.id);
        document.querySelector('#blog-summary').innerHTML = blog.summary;
        document.querySelector('#blog-time').innerHTML = blog.update_time;

        $('#vm').show();
    }

    $(function() {
        getJSON('/api/blogs', {
            page: {{ page_index }}
    }, function (err, results) {
            if (err) {
                return fatal(err);
            }
            $('#loading').hide();
            initVM(results);
        });
    });

</script>

{% endblock %}

<!--jinja2 content 块内容替换-->
{% block content %}
    <!--uk-visible@m是大于中等尺寸屏幕时显示的UI-->
    <!--日志列表内容-->
    <div class="uk-grid  uk-visible@m">
    <div class="uk-width-3-4">

        <article class="uk-article">
            <h5><a id="blog-name"></a></h5>
            <p class="uk-article-meta" id="blog-time"></p>
            <p id="blog-summary"></p>
            <p><a id="blog-href">继续阅读<i class="uk-icon-angle-double-right"></i></a></p>
        </article>
    <!--分页导航栏，在父模板的开头定义过-->
    {{ pagination("blogs") }}
    </div>

    </div>




    <!--分页导航栏，在父模板的开头定义过-->
    {{ pagination("blogs") }}


{% endblock %}
