<!-- 继承父模板 '__base__.html' -->
{% extends '__base__.html' %}
<!--jinja2 title 块内容替换-->
{% block title %}注册{% endblock %}
<!--jinja2 beforehead 块内容替换-->
{% block beforehead %}

<style>
.uk-form-large:not(textarea):not([multiple]):not([size]) {
    height: 45px;
    padding-right: 12px;
    padding-left: 12px;
};
    .uk-form-large {
    height: 50px;
};
</style>

<!--script中构建vue,向后端API提交合格的注册信息数据-->
<script>

function validatePhone(phone) {
    var re = /^1[3456789]\d{9}$/;
    return re.test(phone.toLowerCase());
}

$(function () {
    var vm = new Vue({
        el: '#vm',
        data: {
            name: '',
            phone: '',
            password1: '',
            password2: ''
        },
        methods: {
            submit: function (event) {
                event.preventDefault();
                var $form = $('#vm');
                if (! this.name.trim()) {
                    return $form.showFormError('用户名不可为空');
                }
                if (! this.phone.trim()) {
                    return $form.showFormError('手机号不可为空');
                }
                if (! validatePhone(this.phone.trim().toLowerCase())) {
                    return $form.showFormError('请输入正确手机号');
                }
                if (this.password1.length < 6) {
                    return $form.showFormError('密码至少6位');
                }
                if (this.password1 !== this.password2) {
                    return $form.showFormError('两次密码不一致');
                }
                var phone = this.phone.trim().toLowerCase();
                $form.postJSON('/api/register', {
                    name: this.name.trim(),
                    phone: phone,
                    password: CryptoJS.SHA1(phone + ':' + this.password1).toString()
                }, function (err, r) {
                    if (err) {
                        return $form.showFormError(err);
                    }
                    return location.assign('/login');
                });
            }
        }
    });
    $('#vm').show();
});

</script>

{% endblock %}

{% block content_position %}
<div class="uk-container uk-container-medium uk-text-center">
{% endblock %}

<!--jinja2 content 块内容替换，构建注册页面UI主要内容-->
{% block content %}
    <div class="uk-grid">
    <div class="uk-width-1-1">
        <h2 style="margin-bottom: 50px" >欢迎注册！</h2>
        <form id="vm" v-on="submit: submit" class="uk-form-stacked">
            <div class="uk-alert uk-alert-danger uk-hidden"></div>
            <div class="uk-margin-top">
                <div class="uk-form-controls uk-inline">
                    <span class="uk-form-icon" uk-icon="icon: user"></span>
                    <input class="uk-input uk-form-large" v-model="name" type="text" maxlength="50" placeholder="用户名">
                </div>
            </div>
            <div class="uk-margin-top">
                <div class="uk-form-controls uk-inline">
                    <span class="uk-form-icon" uk-icon="icon: phone"></span>
                    <input class="uk-input uk-form-large" v-model="phone" type="text" maxlength="11" placeholder="手机号">
                </div>
            </div>
            <div class="uk-margin-top">
                <div class="uk-form-controls uk-inline">
                    <span class="uk-form-icon" uk-icon="icon: lock"></span>
                    <input class="uk-input uk-form-large" v-model="password1" type="password" maxlength="24" placeholder="输入密码">
                </div>
            </div>
            <div class="uk-margin">
                <div class="uk-form-controls uk-inline">
                    <span class="uk-form-icon" uk-icon="icon: lock"></span>
                    <input class="uk-input uk-form-large" v-model="password2" type="password" maxlength="24" placeholder="确认密码">
                </div>
            </div>
            <div class="uk-margin-large">
                <button type="submit" class="uk-button uk-button-primary uk-button-large" style="width: 200px;"><i class="uk-icon-user"></i>点击注册</button>
            </div>
        </form>
    </div>
    </div>

{% endblock %}
